/*
        IndividualCase Chapter01
        Author: Andrew Lasica
        Date:   02/11/2019

        Filename: mystyle.css
*/

body{
    background-color:#ffffff;
    font-family: 'Times New Roman', Times, Courier;
    color: #000000;
    font-size: 14pts;
}

nav a:visited,nav a:link {
    padding: 3px 3px;
    display: inline-block;
}

nav a:hover{
    color: #ffffff;
    text-decoration: none;
    background-color: #5a65ab;
    display: inline-block;
    margin:auto;   
}

header{
    text-align:center;
    color: red;
}

footer{
    text-align:center;
    color: #000000;
}

h1{
    font-weight: bold;
    width: 90%;
    margin: auto;
    background-image: url('lesson01/Images/BANNER.JPG');
    background-position: bottom; 
    background-repeat: no-repeat; 
    background-size: cover;
    font-family: "courier", "Times", "Georgia";
    padding: 50px;
    font-size: 45px;
}

h2{
    text-decoration-line: underline;
    font-size: 40px;
    text-align:center;
    color: red;
    
}

table, th, td {
    border: thick solid red;
    border-collapse: collapse;
    padding: 20px;
    background-color:#ffffff;
    color: #000000;
}

table th{
    font-size: 20;
    background-color: #ffffff;
}

dt{
    font-weight: bold;
    color: #000000;
    background-color: red;
    padding: 5px 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

